//
//  Prod.xcconfig
//  AiApp
//
//  Created by Salvatore Milazzo on 30/05/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//OTHER_SWIFT_FLAGS = $(inherited) PROD
MARKETING_VERSION = 0.9.2
BUILD_VERSION = 1

APP_AD_MOB_ID = ca-app-pub-6751063947323511~3068965169

TARGET_NAME = Scaney
