<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Test</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Test desktop</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>test documents</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
</dict>
</plist>
